@page
@model azure_app_km_vs.Pages.Page1Model
@{
    ViewData["Title"] = "Deployment Slots Page";
}

<div class="text-center">
    <h1 class="display-4">
        Testing Deployment Slots
    </h1>
    <h3>
        Validating Deployment Slot feture
    </h3>
</div>