@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Azure .NET Developers</h1>
    <h3>
        We are here learn about the different Microsoft Azure fetures and .NET Core Development
    </h3>
</div>
